header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 0.9rem;

}

h4 {
  margin: 0;
  font-weight: 200;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #D7A6FF;
}

#title {
  font-size: 1.2rem;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

ul {
  list-style-type: none;
}

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-weight: 200;
}