@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body, :root {
  margin: 0 auto;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}