#portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-container {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-item {
    display: flex;
    padding: 2%;
    width: 90%;
    justify-content: space-between;
    background-color: rgba(215, 166, 255, 0.15);
    border-radius: 15px;
    margin: 1%;
}

#project-text {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#project-text h2 {
    color:rgb(215, 166, 255) ;
}

#project-text p {
    flex-grow: 1;
}

#tag-container {
    align-self:center;
    width: 100%;
    padding: 5px;
}

#tag-container p {
    background-color: rgba(57, 69, 222, 0.3);
    margin-right: 10px;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
}

.margin-right {
    margin-right: 2%;
}

.margin-left {
    margin-left: 2%;
}

.project-image {
    width: 300px;
    border-radius: 5px;
}

.image-left {
    flex-direction: row-reverse;
}